<div>
    <div class="row1" *ngIf="!isSmallScreen">
        <div class="column1 next-race-div">
            <nb-card class="next-race card" *ngIf="!changeToAccordion">
                <nb-card-header>
                    <span>下一場賽馬日</span>
                </nb-card-header>
                <nb-card-body>
                    <h2 *ngIf="nextRaceDate">{{nextRaceDate}}</h2>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="column1 past-success">
            <nb-card class="past-success-list card" [nbSpinner]="!modelPastPredict.length > 0" *ngIf="!changeToAccordion">

                <nb-card-header>
                    <span>AI往績</span>
                </nb-card-header>

                <nb-list>
                    <nb-list-item *ngFor="let item of modelPastPredict">
                        <div class="column">
                            <div class="caption">日期場次</div>
                            <div class="long-value">
                                {{ item.race_id }}</div>
                        </div>
                        <div class="column">
                            <div class="caption">賽名</div>
                            <div class="long-value">
                                {{ item.race_name | translate}}</div>
                        </div>

                        <div class="column">
                            <div class="caption">場地</div>
                            <div class="value">
                                {{ item.location | translate}}
                            </div>
                        </div>
                        <div class="column">
                            <div class="caption">馬號</div>
                            <div class="mini-value">
                                {{ item.horse_number }}
                            </div>
                        </div>
                        <div class="column">
                            <div class="caption">馬匹</div>
                            <div class="value">
                                {{ item.horse_name }}
                            </div>
                        </div>
                        <div class="column">
                            <div class="caption">倍率</div>
                            <div class="mini-value">
                                {{ item.win_odds }}
                            </div>
                        </div>
                        <div class="column">
                            <div class="caption">分數</div>
                            <div class="confidence-value" [class.highlight]="item.round > latestVersionThreshold">
                                {{ item.round }}
                            </div>
                        </div>

                        <div class="column">
                            <div class="caption">結果</div>
                            <div class="value" [class.success]="item.isWin" [class.firstRunner]="item.firstRunner"
                                [class.secondRunner]="item.secondRunner">
                                {{ item.longPlace }}
                            </div>
                        </div>
                    </nb-list-item>
                </nb-list>

            </nb-card>

        </div>
    </div>


    <div class="row2">
        <div class="column2">
            <nb-accordion [nbSpinner]="!raceAccordionForMobile.length > 0" class="current-race-list accordion" *ngIf="isSmallScreen">
                <nb-accordion-item expanded>
                    <nb-accordion-item-header>
                        即時賽事 : {{currentRaceDate}}
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <nb-list>
                            <nb-list-item *ngFor="let item of raceAccordionForMobile">
                                <button ghost status="control" nbButton (click)="onClickRaceId( item.race_id)">
                                    <div class="column">
                                        <div class="caption">場次</div>
                                        <div class="mini-value">
                                            {{ item.race_number }}</div>
                                    </div>
                                    <div class="column">
                                        <div class="caption">時間</div>
                                        <div class="value">
                                            {{ item.race_time }}</div>
                                        <div class="caption">班</div>
                                        <div class="value">
                                            {{ item.class | translate }}</div>
                                    </div>
                                    <div class="column">
                                        <div class="caption">場地</div>
                                        <div class="value">
                                            {{ item.location | translate }}</div>
                                        <div class="caption">距離</div>
                                        <div class="value">
                                            {{ item.distance | translate }}</div>
                                    </div>
                                    <div class="column">
                                        <div class="caption">賽道</div>
                                        <div class="value">
                                            {{ item.course | translate }}</div>
                                        <div class="caption">賽名</div>
                                        <div class="long-value">
                                            {{ item.race_name_english | translate }}</div>
                                    </div>
                                </button>
                            </nb-list-item>
                        </nb-list>
                    </nb-accordion-item-body>
                </nb-accordion-item>
            </nb-accordion>
            <nb-card class="ai-rating" [nbSpinner]="!currentRaceData.length > 0" *ngIf="!isSmallScreen">
                <nb-card-header>
                    <div class="graph-option">
                        <span>即時賽事</span>
                        <dx-select-box [dataSource]="raceIdDropdown" displayExpr="label" valueExpr="label"
                            [value]="firstRaceId.label" (onItemClick)="onRaceIdClick($event)">
                        </dx-select-box>
                    </div>
                </nb-card-header>
                <nb-card-body>
                    <dx-chart id="chart" [dataSource]="currentRaceData" title="AI評分" [customizePoint]="customizePoint"
                        [customizeLabel]="customizeLabel" [rotated]="isSmallScreen">
                        <dxi-series [argumentField]="isSmallScreen ? 'horseNameAndNum' : 'horseNameAndNum'"
                            valueField="confidence" type="bar" color="#e7d19a" name="分數">
                            <dxo-format type="decimal"></dxo-format>
                        </dxi-series>
                        <dxi-value-axis [visualRange]="{endValue:1}">
                            <dxo-label [customizeText]="customizeText"></dxo-label>
                            <dxi-constant-line *ngIf="!loading" [width]="2" [value]="latestVersionThreshold"
                                color="#ff7c7c" dashStyle="dash">
                                <dxo-label horizontalAlignment="right" [text]="thresholdText"
                                    [position]="isSmallScreen ? 'outside' : 'inside'"></dxo-label>
                            </dxi-constant-line>
                        </dxi-value-axis>
                        <dxo-argument-axis [title]="isSmallScreen ? '' : '馬匹'" [inverted]="isSmallScreen">
                            <dxo-label [overlappingBehavior]="'stagger'"></dxo-label>
                        </dxo-argument-axis>
                        <dxo-legend [visible]="false"></dxo-legend>
                        <dxo-tooltip *ngIf="isSmallScreen" [enabled]="true" [shared]="true"
                            [customizeTooltip]="customizeTooltip">
                            <dxo-format type="decimal"></dxo-format>
                        </dxo-tooltip>
                        <dxo-crosshair [enabled]="true" color="#949494" [width]="1" dashStyle="dash">
                            <dxo-vertical-line [visible]="isSmallScreen"></dxo-vertical-line>
                            <dxo-horizontal-line [visible]="!isSmallScreen"></dxo-horizontal-line>
                            <dxo-label [visible]="true" backgroundColor="#949494">
                            </dxo-label>
                        </dxo-crosshair>
                    </dx-chart>
                </nb-card-body>
            </nb-card>
        </div>

        <div class="column2" *ngIf="!isSmallScreen">
            <p-card class="records-table-card">
                <p-progressSpinner [style]="{width: '50px', height: '50px'}" class="spinner" animationDuration=".5s"
                    strokeWidth="8" *ngIf="loading"></p-progressSpinner>
                <p-table styleClass="p-datatable-sm">
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngIf="!loading">{{raceName | translate}}, {{raceLocation | translate}}, {{raceCourse |
                                translate}}, {{raceDistance | translate}},
                                {{raceGoing | translate}}</th>
                        </tr>
                    </ng-template>
                </p-table>
                <p-table class="records-table" [columns]="cols" [value]="recordList" [scrollable]="true"
                    scrollHeight="381px" rowHover="true">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.value">{{col.label}}
                            </th>
                            <th style="width: 8rem"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData">
                            <td *ngFor="let col of columns">
                                <div [ngClass]="getDataClass(col.value, rowData)">
                                    {{rowData[col.value] | translate}}
                                </div>
                            </td>
                            <td style="text-align: center">
                                <button pButton type="button" class="p-button-secondary" icon="pi pi-search"
                                    (click)="onClickRecords(dialog, rowData.horse_number)"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template #dialog let-data let-ref="dialogRef">
                        <nb-card class="records-details-popup-dialog">
                            <nb-card-header><button ghost shape="round" nbButton (click)="ref.close()">
                                    <nb-icon icon="collapse-outline"></nb-icon>
                                </button></nb-card-header>
                            <nb-card-body>
                                <app-records-details [thisRaceId]="selectedRaceId.value"
                                    [selectedHorseNumber]="selectedHorseNumber"></app-records-details>
                            </nb-card-body>
                        </nb-card>
                    </ng-template>
                </p-table>
            </p-card>
        </div>
    </div>
    <div class="row3">
        <div class="column3" *ngIf="!isSmallScreen">
            <nb-card [nbSpinner]="!allEloOfCurrentRace.length > 0">
                <nb-card-body>
                    <nb-tabset fullWidth (changeTab)="changeEloTab($event)">
                        <nb-tab tabTitle="馬匹積分">
                        </nb-tab>
                        <nb-tab tabTitle="騎師積分">
                        </nb-tab>
                        <nb-tab tabTitle="練馬師積分">
                        </nb-tab>
                    </nb-tabset>
                    <button nbButton ghost nbPopover="選手根據以往賽績的累計積分" nbPopoverTrigger="hover"
                        nbPopoverPlacement="bottom" shape="round">
                        <nb-icon icon="question-mark-circle-outline"></nb-icon>
                    </button>
                    <dx-chart #targetChart id="chart" [dataSource]="allEloOfCurrentRace"
                        [customizePoint]="customizeEloPoint" [customizeLabel]="customizeEloLabel"
                        (onPointClick)="onEloPointClick($event)" (onPointHoverChanged)="onEloPointHoverChanged($event)">
                        <dxi-series valueField="horse_elo_before" name="馬匹積分" [color]="horseEloBarColor">
                        </dxi-series>
                        <dxi-series valueField="jockey_elo_before" name="騎師積分" [color]="jockeyEloBarColor">
                        </dxi-series>
                        <dxi-series valueField="trainer_elo_before" name="練馬師積分" [color]="trainerEloBarColor">
                        </dxi-series>

                        <dxi-value-axis>
                            <dxo-label>
                                <dxo-format type="decimal"></dxo-format>
                            </dxo-label>
                            <dxi-constant-line *ngIf="!loading && horseEloSelected" [width]="2"
                                [value]="averageHorseElo" [color]="horseEloDefaultColor" dashStyle="dash">
                                <dxo-label horizontalAlignment="right" text="平均值"></dxo-label>
                            </dxi-constant-line>
                            <dxi-constant-line *ngIf="!loading  && jockeyEloSelected" [width]="2"
                                [value]="averageJockeyElo" [color]="jockeyEloDefaultColor" dashStyle="dash">
                                <dxo-label horizontalAlignment="right" text="平均值"></dxo-label>
                            </dxi-constant-line>
                            <dxi-constant-line *ngIf="!loading  && trainerEloSelected" [width]="2"
                                [value]="averageTrainerElo" [color]="trainerEloDefaultColor" dashStyle="dash">
                                <dxo-label horizontalAlignment="right" text="平均值"></dxo-label>
                            </dxi-constant-line>
                        </dxi-value-axis>
                        <dxo-common-series-settings argumentField="horse_name" type="bar">
                        </dxo-common-series-settings>
                        <dxo-argument-axis title="馬匹">
                            <dxo-label [overlappingBehavior]="'rotate'"></dxo-label>
                        </dxo-argument-axis>
                        <dxo-legend [visible]="false"></dxo-legend>
                        <dxo-tooltip [enabled]="false" [shared]="true" [customizeTooltip]="customizeEloTooltip">
                        </dxo-tooltip>
                        <dxo-crosshair [enabled]="true" color="#949494" [width]="1" dashStyle="dash">
                            <dxo-vertical-line [visible]="isSmallScreen"></dxo-vertical-line>
                            <dxo-horizontal-line [visible]="!isSmallScreen"></dxo-horizontal-line>
                            <dxo-label [visible]="true" backgroundColor="#949494">
                                <dxo-font color="#fff" [size]="12">
                                </dxo-font>
                            </dxo-label>
                        </dxo-crosshair>
                    </dx-chart>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>