@import '../../../themes';

.column1 {
  display: inline-block;

  @media screen and (max-width: 1091px) {
    width: 100%;
  }

  &.next-race-div {
    @media screen and (min-width: 1091px) {
      width: 30%;
    }
  }

  &.past-success {
    @media screen and (min-width: 1091px) {
      width: 70%;
    }
  }
}

.row2 {
  @media screen and (min-width: 1369px) {
    display: inline-flex;
    width: 100%;
  }
}

.column2 {
  @media screen and (max-width: 1369px) {
    width: 100%;
  }

  @media screen and (min-width: 1369px) {
    width: 50%;

    .ai-rating {
      margin-right: 28.125px;
    }
  }
}


.next-race {
  @media screen and (max-width: 1091px) {
    margin-right: 0px;
  }

  margin-right: 28.125px;
  text-align: center;

  &.card {
    height: 200px;
  }

  &.accordion {
    margin-bottom: 28.125px;
  }
}

.past-success-list {

  .value {
    width: 60px;
  }

  .confidence-value {
    width: 45px;
  }

  .mini-value {
    width: 30px;
  }

  .long-value {
    width: 160px;
  }

  .firstRunner {
    color: nb-theme(color-warning-default);
  }

  .secondRunner {
    color: nb-theme(color-danger-default);
  }

  .success {
    color: nb-theme(color-success-default);
  }

  nb-list {
    overflow-x: scroll;
    height: 146px;
  }
}

.current-race-list {
  &.accordion {
    margin-bottom: 28.125px;

    ::ng-deep nb-accordion-item-body .item-body {
      padding: 0.25rem;

      button {
        text-align: left;
        padding: 0.1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow-x: scroll;
      }

      nb-list {
        overflow-x: scroll;
        height: 50vh;
      }

      .value {
        width: 60px;
      }
    
      .shorter-long-value {
        width: 100px;
      }
    
      .mini-value {
        width: 30px;
      }
    
      .long-value {
        width: 160px;
      }
    
    }
  }
}

nb-list-item {
  padding: 0.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

nb-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
}


.highlight {
  color: nb-theme(color-danger-default);
}

.highlight-word {
  color: nb-theme(color-danger-default);
}

::ng-deep .records-table-card .p-card-body {
  margin-bottom: 28.125px;
}

.info-accordion {
  margin-bottom: 28.125px;

  ::ng-deep nb-accordion-item-body .item-body {
    padding-top: 5px;
  }
}

.popup-dialog {
  nb-card-header {
    padding-bottom: 0px;
  }

  nb-card-body {
    padding-top: 0px;
  }
}

::ng-deep nb-tabset>nb-tab.content-active {
  padding-bottom: 0px;
  padding-top: 5px;
}

.records-details-popup-dialog{
  height: 85vh;
  overflow-y: scroll;
}