
.title {
  font-family: "Amiko", sans-serif;
  padding: 10px;
  margin-bottom: 0px;
}

.header-container {
  display: flex;
  width: auto;
  align-items: center;

  .sidebar-toggle {
    nb-icon {
      font-size: 1.75rem;
    }
  }

  .logo {
    height: 70px;
    padding: 0 1.25rem;
    font-size: 1.75rem;
    white-space: nowrap;
    text-decoration: none;
  }
}

.personal-info {
  overflow-x: scroll;
}