<div class="header-container" *ngIf="!showHeaderArrow">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
        <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a><img class="logo" src="assets\img\megaintelligence_net.gif"></a>
    <h1 *ngIf="!isSmallScreen" class="title">Mega Intelligence</h1>
    <h6 *ngIf="isSmallScreen" class="title">Mega Intelligence</h6>
</div>
<div class="header-container personal-info" *ngIf="!showHeaderArrow">
    <button *ngIf="isSmallScreen" ghost nbButton nbTooltip="Copied Email! Contact Us!" nbTooltipPlacement="bottom" nbTooltipStatus="basic" [cdkCopyToClipboard]="companyEmail">
        <nb-icon icon="email-outline"></nb-icon>
    </button>
    <nb-actions *ngIf="!isSmallScreen" size="small">
        <nb-action>
            <button ghost nbButton nbTooltip="Copied Email! Contact Us!" nbTooltipPlacement="bottom" nbTooltipStatus="basic" [cdkCopyToClipboard]="companyEmail">
                <nb-icon icon="email-outline"></nb-icon>
                <div>contact@megaintelligence.net</div>
            </button>
        </nb-action>
        <nb-action>
            <nb-user size="large" name="Hayden Tang" title="Founder"></nb-user>
        </nb-action>
    </nb-actions>
</div>

<div class="header-container" *ngIf="showHeaderArrow">
    <a (click)="backArrowClick()" class="sidebar-toggle">
        <nb-icon icon="arrow-back-outline"></nb-icon>
    </a>
</div>