<nb-card>
    <nb-card-body [nbSpinner]="loading">
        <div class="graph-option">
            <span>Model Version</span>
            <dx-select-box
                [items]="modelVersionDropdown"
                (onItemClick)="onModelVersionClick($event)">
            </dx-select-box>
        </div>
        <dx-chart id="chart" palette="vintage" [dataSource]="thresholdPerformance" [customizePoint]="customizePoint" [stickyHovering]="false" title="Win/Lose Count vs Accuracy">
            <dxo-common-series-settings argumentField="threshold" type="stackedbar" valueField="version">
            </dxo-common-series-settings>
            <dxi-series valueField="lose_bet_count" name="Lose Bet" color="#e84f17"></dxi-series>
            <dxi-series valueField="win_bet_count" name="Win Bet" color="#18db42"></dxi-series>
            <dxi-series axis="accuracy" type="spline" valueField="accuracy" name="Accuracy" color="#00ABFF">
                <dxo-point [size]="5"></dxo-point>
            </dxi-series>
            <dxi-value-axis title="Win/Lose Bet Count">
                <dxo-grid [visible]="true"></dxo-grid>
            </dxi-value-axis>
            <dxi-value-axis name="accuracy" position="right" title="Accuracy" [autoBreaksEnabled]="true">
                <dxo-grid [visible]="true"></dxo-grid>
                <dxo-label [customizeText]="changeToPercentage"></dxo-label>
            </dxi-value-axis>
            <dxo-argument-axis title="Threshold">
                <dxi-constant-line *ngIf="modelSelectedThreshold" [value]="modelSelectedThreshold" dashStyle="longDash" paddingTopBottom="5">
                    <dxo-label position="outside" text="Selected Threshold"></dxo-label>
                </dxi-constant-line>
            </dxo-argument-axis>
            <dxo-legend
                verticalAlignment="bottom"
                horizontalAlignment="center">
            </dxo-legend>
            <dxo-tooltip
                [enabled]="true"
                [shared]="true"
                [customizeTooltip]="customizeTooltip">
                <dxo-format type="decimal"></dxo-format>
            </dxo-tooltip>
            <dxo-crosshair [enabled]="true" color="#949494" [width]="1" dashStyle="solid">
                <dxo-label [visible]="true" backgroundColor="#949494">
                    <dxo-font color="#fff" [size]="12">
                    </dxo-font>
                </dxo-label>
            </dxo-crosshair>
        </dx-chart>
    </nb-card-body>
</nb-card>