<nb-accordion class="basic-info-accordion">
    <nb-accordion-item expanded>
        <nb-accordion-item-header>
            基本資料
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <div class="container" *ngIf="basicInfo">
                <div class="row">
                    <div class="col">
                        <label class="label">馬匹 / 獨贏率 / 三甲率</label><span class="new-horse" *ngIf="basicInfo.newHorseFlag">新馬</span>
                        <p>{{basicInfo.horseChineseName}} / {{basicInfo.horseWinRate}}% / {{basicInfo.horsePlaceRate}}%</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="label">騎師 / 獨贏率 / 三甲率</label>
                        <p>{{basicInfo.jockeyName | translate }} / {{basicInfo.jockeyWinRate}}% / {{basicInfo.jockeyPlaceRate}}%</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="label">練馬師 / 獨贏率 / 三甲率</label>
                        <p>{{basicInfo.trainerName | translate }} / {{basicInfo.trainerWinRate}}% / {{basicInfo.trainerPlaceRate}}%</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="label">檔位</label>
                        <p>{{basicInfo.draw}}</p>
                    </div>
                    <div class="col">
                        <label class="label">負磅</label>
                        <p>{{basicInfo.actualWeight}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="label">馬匹體重</label>
                        <p>{{basicInfo.declareWeight}}</p>
                    </div>
                    <div class="col">
                        <label class="label">上一次體重差別</label>
                        <p><span *ngIf="basicInfo.weightDifferenceFromLastRace > 0" >+</span>{{basicInfo.weightDifferenceFromLastRace}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="label">年齡 / 賽齡 / 性別</label>
                        <p>{{basicInfo.age}} / {{basicInfo.horseYearsFromFirstRace}} / {{basicInfo.sex | translate}}</p>
                    </div>
                    <div class="col">
                        <label class="label">出賽次數</label>
                        <p>{{basicInfo.horseRaceHaveTaken}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="label">6次近績</label>
                        <p>{{basicInfo.pastSixRaceplace}}</p>
                    </div>
                    <div class="col">
                        <label class="label">上次比賽相隔(日)</label>
                        <p>{{basicInfo.daysApartFromPreviousRace}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="label">3次賽道近績</label>
                        <p>{{basicInfo.pastThreePlaceOnSameTrack}}</p>
                    </div>
                    <div class="col">
                        <label class="label">途程最佳時間</label>
                        <p>{{basicInfo.bestFinishTimeOnSameDistance}}</p>
                    </div>
                </div>
            </div>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>

<nb-accordion class="elo-accordion">
    <nb-accordion-item>
        <nb-accordion-item-header>
            選手積分
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <nb-tabset fullWidth (changeTab)="changeEloTab($event)">
                <nb-tab tabTitle="馬匹">
                </nb-tab>
                <nb-tab tabTitle="騎師">
                </nb-tab>
                <nb-tab tabTitle="練馬師">
                </nb-tab>
            </nb-tabset>
            <button nbButton ghost nbPopover="選手根據以往賽績的累計積分" nbPopoverTrigger="hover" nbPopoverPlacement="bottom"
                shape="round">
                <nb-icon icon="question-mark-circle-outline"></nb-icon>
            </button>
            <dx-chart #targetChart id="chart" [dataSource]="allEloOfCurrentRace" [customizePoint]="customizeEloPoint"
                [rotated]="true">
                <dxi-series *ngIf="!loading && horseEloSelected" valueField="horse_elo_before" name="馬匹"
                    argumentField="horseNameAndNum" [color]="horseEloBarColor"></dxi-series>
                <dxi-series *ngIf="!loading && jockeyEloSelected" valueField="jockey_elo_before" name="騎師"
                    argumentField="jockeyNameAndNum" [color]="jockeyEloBarColor"></dxi-series>
                <dxi-series *ngIf="!loading && trainerEloSelected" valueField="trainer_elo_before" name="練馬師"
                    argumentField="trainerNameAndNum" [color]="trainerEloBarColor"></dxi-series>

                <dxi-value-axis [visualRange]="{startValue:1000}">
                    <dxo-label>
                        <dxo-format type="decimal"></dxo-format>
                    </dxo-label>
                    <dxi-constant-line *ngIf="!loading && horseEloSelected" [width]="2" [value]="averageHorseElo"
                        [color]="horseEloDefaultColor" dashStyle="dash">
                        <dxo-label horizontalAlignment="right" text="平均值" [position]="'outside'"></dxo-label>
                    </dxi-constant-line>
                    <dxi-constant-line *ngIf="!loading  && jockeyEloSelected" [width]="2" [value]="averageJockeyElo"
                        [color]="jockeyEloDefaultColor" dashStyle="dash">
                        <dxo-label horizontalAlignment="right" text="平均值" [position]="'outside'"></dxo-label>
                    </dxi-constant-line>
                    <dxi-constant-line *ngIf="!loading  && trainerEloSelected" [width]="2" [value]="averageTrainerElo"
                        [color]="trainerEloDefaultColor" dashStyle="dash">
                        <dxo-label horizontalAlignment="right" text="平均值" [position]="'outside'"></dxo-label>
                    </dxi-constant-line>
                </dxi-value-axis>
                <dxo-common-series-settings type="bar">
                </dxo-common-series-settings>
                <dxo-argument-axis inverted="true">
                    <dxo-label [overlappingBehavior]="'rotate'"></dxo-label>
                </dxo-argument-axis>
                <dxo-legend [visible]="false"></dxo-legend>
                <dxo-crosshair [enabled]="true" color="#949494" [width]="1" dashStyle="dash">
                    <dxo-vertical-line [visible]="true"></dxo-vertical-line>
                    <dxo-horizontal-line [visible]="!true"></dxo-horizontal-line>
                    <dxo-label [visible]="true" backgroundColor="#949494">
                    </dxo-label>
                </dxo-crosshair>
            </dx-chart>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>