@import '../../../themes';

::ng-deep nb-tabset>nb-tab.content-active {
  padding-bottom: 0px;
  padding-top: 5px;
}

.elo-accordion {
  margin-top: 10px;
}

.new-horse {
  padding-left: 5px;
  color: nb-theme(color-warning-default)
}

label {
  margin-bottom : 3px;
}