.next-race-header {
    opacity: 0.8
}

.race-select-header {
    overflow-x: scroll;
    ::ng-deep nav {
        height: 3.5rem;
        padding: 0px;
    }
}

.app-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}