<nb-layout>
  <nb-layout-header fixed>
    <app-header class="app-header"></app-header>
  </nb-layout-header>
  <nb-layout-header subheader class="next-race-header" *ngIf="!loading && isSmallScreen && showNextRaceSubHeader">
    <h5>下一場賽馬日: {{nextRaceDate}}</h5>
  </nb-layout-header>
  <nb-layout-header subheader class="race-select-header" *ngIf="!loading && isSmallScreen && showRaceSelectSubHeader">
    <nb-button-group ghost>
      <button nbButtonToggle *ngFor="let item of raceList" [pressed]="currentUrl.includes(item.race_id)"
        (click)="onClickRaceNum(item.race_id)">
        {{item.race_number}}
      </button>
    </nb-button-group>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet *ngIf="loading == false"></router-outlet>
  </nb-layout-column>

  <nb-sidebar #sidebar state="compacted" responsive>
    <nb-menu *ngIf="loading == false" [items]="menuItems"></nb-menu>
  </nb-sidebar>

  <!-- <nb-layout-footer fixed *ngIf="!loading && isSmallScreen">
  Insert footer here
  </nb-layout-footer> -->
</nb-layout>