.label {
  font-family: "Amiko", sans-serif;
  font-size: 0.9rem !important;
}

::ng-deep .selected-data,
::ng-deep .options {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(191, 191, 191, 0.15);
}

::ng-deep .selected-data .caption {
  font-weight: bold;
  font-size: 115%;
}

::ng-deep .options .caption {
  font-size: 18px;
  font-weight: 500;
}

::ng-deep .graph-option>.dx-widget {
  display: inline-block;
  vertical-align: middle;
}

::ng-deep .graph-option>span {
  display: inline-block;
  margin-right: 5px;
}

/* width */
::-webkit-scrollbar {
  width: 0.3125rem;
  height: 0.3125rem;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

// /* Handle */
::-webkit-scrollbar-thumb {
  background: #8f9bb3;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background: #8f9bb3;
}

::ng-deep p-card .p-card {
  background: #222b45;
}

::ng-deep p-table .p-datatable {
  .p-sortable-column:not(.p-highlight):hover {
    background: #151a30;
  }
  .p-datatable-thead > tr > th {
    background: #222b45;
    border-color: #151a30;
  }

  .p-sortable-column.p-highlight {
    background: #222b45;
  }
}
::ng-deep p-table .p-datatable .p-datatable-tbody > tr {
  background: #222b45;
  td {
    border-color: #151a30;
  }
}
