.current-race-list {
  nb-card-header {
    text-align: left;
    justify-content: space-between;
    overflow-x: scroll;

    .column {
      align-items: center;
      display: flex;
    }

    .caption {
      padding-right: 5px
    }
  }

  margin-bottom: 28.125px;


  nb-list {
    overflow-x: scroll;
    max-height: 50vh;
  }

  nb-list-item {
    padding: 0.3rem;

    button {
      text-align: left;
      padding: 0.1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow-x: scroll;
    }

  }
}

.value {
  width: 60px;
}

.horse-value {
  width: 70px;
}

.shorter-long-value {
  width: 100px;
}

.confidence-value {
  width: 45px;
}

.mini-value {
  width: 30px;
}

.long-value {
  width: 160px;
}

.records-details-popup-dialog {
  height: 85vh;
  overflow-y: scroll;
}

.current-race-list {
  nb-card-header {
    padding-top: 0.6rem;
    padding-bottom: 0.5rem;
  }
}