<nb-card [nbSpinner]="loading" class="current-race-list">
    <nb-card-header *ngIf="raceInfo">
        <div class="column">
            <div class="caption">時間</div>
            <div class="value">
                {{ raceInfo.race_time }}</div>
            <div class="caption">場地</div>
            <div class="value">
                {{ raceInfo.location | translate }}</div>
            <div class="caption">班</div>
            <div>
                {{ raceInfo.class | translate }}</div>
        </div>
        <div class="column">
            <div class="caption">距離</div>
            <div class="value">
                {{ raceInfo.distance | translate }}</div>
            <div class="caption">賽道</div>
            <div>
                {{ raceInfo.course | translate }}</div>
        </div>
        <div class="column">
            <div class="caption">賽名</div>
            <div>
                {{ raceInfo.race_name_english | translate }}</div>
        </div>
    </nb-card-header>
    <nb-list>
        <nb-list-item *ngFor="let item of recordList">
            <div class="container">
            <nb-progress-bar class="row" size="tiny" [value]="item.confidence * 100" status="primary">{{ item.confidence }}</nb-progress-bar>
            <button class="row" ghost status="control" nbButton (click)="open(dialog, item.horse_number)">
                <div class="column">
                    <div class="caption">馬號</div>
                    <div class="mini-value">
                        {{ item.horse_number }}</div>
                </div>
                <div class="column">
                    <div class="caption">馬匹</div>
                    <div class="horse-value">
                        {{ item.chinese_name }}</div>
                </div>
                <div class="column">
                    <div class="caption">騎師</div>
                    <div class="value">
                        {{ item.jockey_name | translate }}</div>
                </div>
                <div class="column">
                    <div class="caption">負磅</div>
                    <div class="confidence-value">
                        {{ item.actual_weight }}</div>
                </div>
                <div class="column">
                    <div class="caption">檔位</div>
                    <div class="confidence-value">
                        {{ item.draw }}</div>
                </div>
                <div class="column">
                    <div class="caption">獨贏</div>
                    <div class="mini-value">
                        {{ item.win_odds }}</div>
                </div>
            </button>
        </div>
        </nb-list-item>
    </nb-list>
</nb-card>
<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card class="records-details-popup-dialog">
        <nb-card-header><button ghost shape="round" nbButton (click)="ref.close()">
                <nb-icon icon="collapse-outline"></nb-icon>
            </button></nb-card-header>
        <nb-card-body>
            <app-records-details [thisRaceId]="raceId" [selectedHorseNumber]="selectedHorseNumber">
            </app-records-details>
        </nb-card-body>
    </nb-card>
</ng-template>