<nb-card class="dropdown-card">
    <nb-card-body [nbSpinner]="loadingDropdown">
        <div class="row">
        <div class="col">
            <label class="label row">Model Version : </label>
            <nb-select class="row" placeholder="select a version" [(selected)]="selectedVersion"
                (selectedChange)="onSelectModelVersion($event)" status="basic">
                <nb-option *ngFor="let model of modelVersionDropdown" [value]="model.version">
                    {{ model.version }}</nb-option>
            </nb-select>
        </div>
        <div class="col"><label class="label row"> Historical Race : </label>
            <nb-select class="row" [disabled]="disableSelectRace" placeholder="select a race" [(selected)]="selectedRaceId"
                (selectedChange)="onSelectPastRaceId($event)" status="basic">
                <nb-option *ngFor="let raceId of pastRaceIdDropdown" [value]="raceId.value">
                    {{ raceId.label }}</nb-option>
            </nb-select>
        </div>
        <div class="col"><label class="label row"> Current Race : </label>
            <nb-select class="row" [disabled]="disableSelectRace" placeholder="select a race" [(selected)]="selectedRaceId"
                (selectedChange)="onSelectRaceId($event)" status="basic">
                <nb-option *ngFor="let raceId of raceIdDropdown" [value]="raceId.value">
                    {{ raceId.label }}</nb-option>
            </nb-select>
        </div>
        </div>
    </nb-card-body>
</nb-card>
<p-card [style]="{height: '70vh'}" class="race-p-card">
    <p-progressSpinner [style]="{width: '50px', height: '50px'}" class="spinner" animationDuration=".5s" strokeWidth="8"
        *ngIf="loading"></p-progressSpinner>
    <p-table *ngIf="recordList.length > 0" class="race-table" styleClass="p-datatable-sm">
        <ng-template pTemplate="header">
            <tr>
                <th>{{raceName | translate}}</th>
                <th>{{raceLocation | translate}}</th>
                <th>{{raceCourse | translate}}</th>
                <th>{{raceDistance | translate}}</th>
                <th>{{raceGoing | translate}}</th>
            </tr>
        </ng-template>
    </p-table>
    <p-table *ngIf="recordList.length > 0 && loading == false" class="records-table" [columns]="cols"
        [value]="recordList" [scrollable]="true" scrollHeight="50vh" rowHover="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.value">{{col.label}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData" [ngClass]="getRowClass(rowData)">
                <td *ngFor="let col of columns">
                    <div [ngClass]="getDataClass(col.value, rowData)">
                        {{rowData[col.value] | translate}}
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>