.highlight-word {
  color: #FF5252;
}

// .ngx-color {
//   &.p-card {
//     height: 66vh;
//   }
//   .p-card-body {
//     padding-top: 0px !important;
//   }
// }

.spinner {
  position: fixed;
  z-index: 1031; /* High z-index so it is on top of the page */
  top: 50%;
  right: 50%; /* or: left: 50%; */
}

:host ::ng-deep .highlight-row {
  background-color: rgba(0, 0, 0, .15) !important;
}

::ng-deep .race-p-card .p-card-content {
  padding-top: 0px;
}

.label {
  margin-left: 5px;
}