<nb-accordion class="past-success-list accordion">
    <nb-accordion-item expanded>
        <nb-accordion-item-header >
            AI往績
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <nb-list>
                <nb-list-item *ngFor="let item of modelPastPredict">
                    <div class="column">
                        <div class="caption">日期(場次)</div>
                        <div class="shorter-long-value">
                            {{ item.short_race_id }}</div>
                    </div>
                    <div class="column">
                        <div class="caption">場地</div>
                        <div class="value">
                            {{ item.location | translate }}
                        </div>
                    </div>
                    <div class="column">
                        <div class="caption">馬號</div>
                        <div class="mini-value">
                            {{ item.horse_number }}
                        </div>
                    </div>
                    <div class="column">
                        <div class="caption">馬匹</div>
                        <div class="value">
                            {{ item.horse_name }}
                        </div>
                    </div>
                    <div class="column">
                        <div class="caption">倍率</div>
                        <div class="mini-value">
                            {{ item.win_odds }}
                        </div>
                    </div>
                    <div class="column" >
                        <div class="caption">分數</div>
                        <div class="confidence-value" [class.highlight]="item.round > latestVersionThreshold">
                            {{ item.round }}
                        </div>
                    </div>

                    <div class="column">
                        <div class="caption">結果</div>
                        <div class="mini-value" [class.success]="item.isWin"
                            [class.firstRunner]="item.firstRunner" [class.secondRunner]="item.secondRunner">
                            {{ item.place }}
                        </div>
                    </div>
                </nb-list-item>
            </nb-list>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>