@import '../../../themes';

.past-success-list {
    height: 80vh;
  &.accordion {
    margin-bottom: 28.125px;

    ::ng-deep nb-accordion-item-body .item-body {
      padding: 0.25rem;
    }
  }

  .success {
    color: nb-theme(color-success-default);
  }


  .firstRunner {
    color: nb-theme(color-warning-default);
  }

  .secondRunner {
    color: nb-theme(color-danger-default);
  }

  .value {
    width: 60px;
  }

  .confidence-value {
    width: 45px;
  }

  .mini-value {
    width: 30px;
  }

  .shorter-long-value {
    width: 100px;
  }

  .highlight {
    color: nb-theme(color-danger-default);
  }
}



nb-list {
    overflow-x: scroll;
    height: 70vh;
  }
  
  nb-list-item {
    padding: 0.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }