<nb-card>
    <nb-card-body [nbSpinner]="loading">
        <dx-chart id="chart" [dataSource]="modelPerformanceWithoutThreshold" [stickyHovering]="false"
            title="DNN Model Performance Without Threshold">
            <dxo-common-series-settings argumentField="race_id" type="spline" valueField="balance">
                <dxo-point [size]="5" hoverMode="allArgumentPoints"></dxo-point>
            </dxo-common-series-settings>
            <dxo-series-template nameField="version" *ngIf="loading == false">
            </dxo-series-template>
            <dxo-argument-axis title="Historical Race">
                <dxo-tick [visible]="false"></dxo-tick>
                <dxo-label wordWrap="normal" [overlappingBehavior]="'hide'" [customizeText]="parseToRace"></dxo-label>
            </dxo-argument-axis>
            <dxo-crosshair [enabled]="true" color="#949494" [width]="1" dashStyle="solid">
                <dxo-label [visible]="true" backgroundColor="#949494">
                    <dxo-font color="#fff" [size]="12">
                    </dxo-font>
                </dxo-label>
            </dxo-crosshair>
            <dxi-value-axis title="Profit (HKD)">
                <dxi-constant-line [value]="0" dashStyle="longDash">
                    <dxo-label text=""></dxo-label>
                </dxi-constant-line>
                <dxo-label [customizeText]="addDollarSign"></dxo-label>
            </dxi-value-axis>
            <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
            </dxo-legend>
            <dxo-zoom-and-pan argumentAxis="both"></dxo-zoom-and-pan>
            <dxo-scroll-bar [visible]="true"></dxo-scroll-bar>
        </dx-chart>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-body [nbSpinner]="loading">
        <dx-chart id="chart" [dataSource]="modelPerformanceWithThreshold" [stickyHovering]="false"
            title="DNN Model Performance With Threshold">
            <dxo-common-series-settings argumentField="race_id" type="spline" valueField="balance">
                <dxo-point [size]="5" hoverMode="allArgumentPoints"></dxo-point>
            </dxo-common-series-settings>
            <dxo-series-template nameField="version" *ngIf="loading == false">
            </dxo-series-template>
            <dxo-argument-axis title="Historical Race">
                <dxo-tick [visible]="false"></dxo-tick>
                <dxo-label wordWrap="normal" [overlappingBehavior]="'hide'" [customizeText]="parseToRace"></dxo-label>
            </dxo-argument-axis>
            <dxo-crosshair [enabled]="true" color="#949494" [width]="1" dashStyle="solid">
                <dxo-label [visible]="true" backgroundColor="#949494">
                    <dxo-font color="#fff" [size]="12">
                    </dxo-font>
                </dxo-label>
            </dxo-crosshair>
            <dxi-value-axis title="Profit (HKD)">
                <dxi-constant-line [value]="0" dashStyle="longDash">
                    <dxo-label text=""></dxo-label>
                </dxi-constant-line>
                <dxo-label [customizeText]="addDollarSign"></dxo-label>
            </dxi-value-axis>
            <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
            </dxo-legend>
            <dxo-zoom-and-pan argumentAxis="both"></dxo-zoom-and-pan>
            <dxo-scroll-bar [visible]="true"></dxo-scroll-bar>
        </dx-chart>
    </nb-card-body>
</nb-card>