@import 'themes';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeng/resources/themes/mdc-dark-indigo/theme.css';
@import '../node_modules/primeicons/primeicons.css';
@import '~@nebular/theme/styles/prebuilt/dark.css';
@import '~@nebular/theme/styles/prebuilt/cosmic.css';
@import '~@nebular/theme/styles/globals';
@import "~bootstrap/dist/css/bootstrap.css";

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
